</div>

<footer class="footer">
    <div class="container d-flex justify-content-between">
        <p>This web application is a course project for CS-C3170 - Web Software Development, Fall 2020, Aalto University.</p>
        <div>
            <a href="https://github.com/towatiai/wsd-deno-project">
                <img height="32" width="32" src="https://unpkg.com/simple-icons@v4/icons/github.svg" />
            </a>
            
        </div>
    </div>
    
</footer>

</body>
</html>