<%- include("./partials/header.ejs") %>

<script src="../static/src/summary.js" defer></script>

<h2>Summary</h2>

<div class="d-flex">
    <h3 class="mt-3">Weekly average</h3>
    <span class="ml-3" style="width: 100px; margin-top: 16px;">
        <select class="custom-select" id="week-select">
            <% for( let week = 1; week < 53; week++ ) { %>
                <option value="<%= week %>"><%= week %></option>
            <% } %>
          </select>
    </span>
</div>


<div class="d-flex flex-wrap mt-3">

    <div class="card mb-3 mr-3" style="max-width: 18rem;">
        <div class="card-header">Sleep</div>

        <div class="card-body">
            <h5 class="card-title" id="avg_sleep_time-week"></h5>
            <p class="card-text">hours on average</p>
        </div>
        <div class="card-body">
            <div class="d-flex">
                <h5 class="card-title" id="avg_sleep_quality-week"></h5>
                <p style="margin-top: 0.8rem;">/5</p>
            </div>
            <p class="card-text">quality</p>
        </div>
    </div>

    <div class="card mb-3 mr-3" style="max-width: 18rem;">
        <div class="card-header">Exercise and studies</div>
        <div class="card-body">
            <h5 class="card-title" id="avg_sports_time-week"></h5>
            <p class="card-text">hours spent on sports</p>
        </div>
        <div class="card-body">
            <h5 class="card-title" id="avg_studying_time-week"></h5>
            <p class="card-text">hours spent on studies</p>
        </div>
    </div>

    <div class="card mb-3 mr-3" style="max-width: 18rem;">
        <div class="card-header">Mood</div>
        <div class="card-body">
            <div class="d-flex">
                <h5 class="card-title" id="avg_mood-week"></h5>
                <p style="margin-top: 0.8rem;">/5</p>
            </div>
            
            <p class="card-text">out of five</p>
        </div>
    </div>
</div>

<div class="d-flex">
    <h3 class="mt-3">Weekly average</h3>
    <span class="ml-3" style="width: 200px; margin-top: 16px;">
        <select class="custom-select" id="month-select">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
    </span>
</div>

<div class="d-flex flex-wrap mt-3">

    <div class="card mb-3 mr-3" style="max-width: 18rem;">
        <div class="card-header">Sleep</div>

        <div class="card-body">
            <h5 class="card-title" id="avg_sleep_time-month"></h5>
            <p class="card-text">hours on average</p>
        </div>
        <div class="card-body">
            <h5 class="card-title" id="avg_sleep_quality-month"></h5>
            <p class="card-text">quality</p>
        </div>
    </div>

    <div class="card mb-3 mr-3" style="max-width: 18rem;">
        <div class="card-header">Exercise and studies</div>
        <div class="card-body">
            <h5 class="card-title" id="avg_sports_time-month"></h5>
            <p class="card-text">hours spent on sports</p>
        </div>
        <div class="card-body">
            <h5 class="card-title" id="avg_studying_time-month"></h5>
            <p class="card-text">hours spent on studies</p>
        </div>
    </div>

    <div class="card mb-3 mr-3" style="max-width: 18rem;">
        <div class="card-header">Mood</div>
        <div class="card-body">
            <h5 class="card-title" id="avg_mood-month"></h5>
            <p class="card-text">out of five</p>
        </div>
    </div>
</div>


<%- include("./partials/footer.ejs") %>